@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    text-align: center;
    padding: 80px 192px;
  }
  .section-header {
    margin-bottom: 20px;
    color: #444;
    font-size: 36px;
    font-weight: 700;
  }
}
