@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  .section {
    text-align: center;
    padding: 80px 192px;
  }
  .section-header {
    margin-bottom: 20px;
    color: #444;
    font-size: 36px;
    font-weight: 700;
  }
}
